/* colors to choose from:
dark blue:      #0b5c7c
light orange:   #f0d0aa
orange:         #D9A23D
white-ish:      #F2F2F2

*/

@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


/* elements */
body {
    background-color: white;
    color: #0b5c7c;
    font-family: "Rubik", "Tahoma", sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #0b5c7c;
    color: #f0d0aa;
    display: grid;
    grid-template-columns: 150px auto;
}
h2 {
    margin: 0;
}
footer {
    background-color: #0b5c7c;
    color: #f2f2f2;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav {
    display: flex;
    justify-content: space-around;
}

/* element pseudo-classes and nested elements */
nav a:hover {
    background-color: #d9a23d;
    color: black;
}
footer a {
    background-color: #0b5c7c;
    color: #f0d0aa;
    text-decoration: none;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}
nav a {
    text-align: center;
    text-decoration: none;
    background-color: #f0d0aa;
    color: #0b5c7c;
    padding: 35px;
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}

/* classes */
.book, .join {
    background-color: #0b5c7c;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #f0d0aa;
    color: #0b5c7c;
}
.msg {
    background-color: white;
    color: black;
    line-height: 1.5em;
    padding: 35px;
    grid-area: 6/6/7/10;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg h2 {
    font-family: "Exo", "Verdana", sans-serif;
}
.msg p {
    font-size: .8em;
    padding-bottom: 15px;
}
.button-box {
    text-align: center;
    margin-top: 25px;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.home-title {
    font-size: 2em;
    font-family: "Exo", "Verdana", sans-serif;
    margin-top: 10px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid black;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.card-img, .mountatins {
    width: 100%;
}
.rivers-card {
    grid-area: 2/2/3/4;
}
.camping-card {
    grid-area: 2/5/3/7;
}
.rapids-card {
    grid-area: 2/8/3/10;
}
.mountains {
    grid-area: 5/2/8/7;
    box-shadow: 5px 5px 10px #6f7364;
}

/* ids */
#background {
    background-color: #f0d0aa;
    color: #0b5c7c;
    grid-area: 4/1/9/11;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
#hero-msg h1, #hero-msg h2 {
    text-align: center;
    color: #f2f2f2;
    text-shadow: 3px 3px 5px #6f7364;
}
#background {
    height: 725px;
}
#hero-img {
    width: 100%;
}
#logo_link {
    padding-top: 5px;
    justify-self:center;
    align-self:center;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row:1/2;
    margin-top: 100px;
}


/* media query that was copy-pasted into my css to handle 
different sizes of windows on different devices */
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
            