/* colors to choose from:
dark blue:      #0b5c7c
light orange:   #f0d0aa
orange:         #D9A23D
white-ish:      #F2F2F2

*/

@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


/* elements */
body {
    background-color: white;
    color: #0b5c7c;
    font-family: "Rubik", "Tahoma", sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #0b5c7c;
    color: #f0d0aa;
}
h2 {
    margin: 0;
}
footer {
    background-color: #0b5c7c;
    color: #f2f2f2;
    padding: 25px 50px;
    margin-top: 200px;
}


/* element pseudo-classes and nested elements */
nav a:hover {
    background-color: #d9a23d;
    color: black;
}
footer a {
    background-color: #0b5c7c;
    color: #f0d0aa;
    text-decoration: none;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}
nav a {
    text-align: center;
    text-decoration: none;
    background-color: #f0d0aa;
    color: #0b5c7c;
    padding: 35px;
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}


/* classes */
.book, .join {
    background-color: #0b5c7c;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #f0d0aa;
    color: #0b5c7c;
}
.msg {
    background-color: white;
    color: black;
    line-height: 1.5em;
    padding: 35px;
}
.msg h2 {
    font-family: "Exo", "Verdana", sans-serif;
}
.msg p {
    font-size: .8em;
    padding-bottom: 15px;
}
.button-box {
    text-align: center;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.home-title {
    font-size: 2em;
    font-family: "Exo", "Verdana", sans-serif;
    margin-top: 10px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid black;
}


/* ids */
#background {
    background-color: #f0d0aa;
    color: #0b5c7c;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
#background {
    height: 725px;
}
#hero-img {
    width: 100%;
}
#logo_link {
    padding-top: 5px;
}














