/* Add your CSS here to style your valentines day page */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: "google sans flex", Verdana, sans-serif;
    background-color: black;
    color: rgb(255, 224, 224);
}

h2, h1 {
    font-family: "lobster two", verdana, sans-serif;
}

h1 {
    font-size: 3em;
}

#wrapper {
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
    grid-template-columns: 200px 5fr 1fr;
    grid-template-rows: 1fr 50px;
}

header {
    grid-area: 1/1/2/2;
    color: black;
    width: 250px;
}

nav {
  width: 200px;
  position: fixed;
  z-index: 0;
  top: 20px;
  left: 10px;
  padding: 8px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    font-family:"lobster two", verdana, sans-serif;
    font-size: 2em;
    padding: 5px;

    background-color: pink;
    border: 2px solid red;
    border-radius: 5px;
    margin-bottom: 10px;

    transition: 2s;

}

nav ul li:hover {
    transform: scale(1.25);
    margin-left: 22px;
    background-color: whitesmoke;
    color: firebrick;
}

footer {
    grid-row: 2;
}

#text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

main img {
    width: 100%;
    border: 2px solid white;
    
}

main section {
    background-color: pink;
    color: rgb(126, 23, 23);
    padding: 10px;
    margin: 5px;
    border-radius: 10px;

}

