body {
  margin: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #d3d3d3, #001f3f);
  background-repeat: no-repeat; /* Just in case */
  background-attachment: fixed;
}

.container {
  text-align: center;
}

.header {
  padding: 20px 0;
}

.header-image {
  background-image: url('../images/icenter.png'); /* Replace with your image */
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;

}

.header-image h1 {
  margin: 0;
  line-height: 0.9;
    font-size: 3.5em;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  background: #00000055;
}

.content-box {
  background-color: white;
  margin: 30px auto;
  width: 90%;
  max-width: 900px;
  padding: 40px;
  box-shadow: 5px 5px 0px black;
  min-height: 400px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 0 30px 0;
}

td, th {
  border: 1px black solid;
  text-align:left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: powderblue;
}

form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

form label, form input {
  margin-bottom: 1em;
}

form label {
  grid-column: 1/2;
  text-align: right;
  margin-right: 10px;
}

form input {
  grid-column: 2/4;
}

#submit {
  max-width: 150px;
  justify-self: center;
  font-size: 1.5em;
  border-radius: 10px;
}

#devo-form {
  background-color: powderblue;
  border-radius: 20px;
  padding-top: 5px;
}

#devo-form h2 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}